* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(43, 43, 43);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.instruc {
    padding: 18px 40px;
    background-color: rgb(43, 43, 43);
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.window-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
}

.window-container .window-box {
    width: 450px;
    height: 500px;
    border-radius: 7px;
    padding: 20px;
    color: white;
    box-shadow: 0 1px 5px #000;
} 

h1 {
    color: rgb(237, 189, 94);
    text-align: center;
    transition: color 0.3s;
    position: relative; 

}

h1:hover {
    transform: scale(1.03);
}

p {
    padding: 3%;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}

p span {
    position: relative;
    color: white;
    transition: color 0.3s ease; 
}

p span:hover {
    color: rgb(237, 189, 94); 
}

img {
    display: block;
    margin-left: 40%;
    width: 100px;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button-container button {
    position: relative;
    padding: 15px 40px;
    border: 2px solid transparent;
    border: 2px solid rgb(160, 160, 160, .1);
    color: white;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    z-index: 1000;
}

.button-container button::before,
.button-container button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 190, 61, 0.832); 
    transition: transform 0.3s ease; 
}

.button-container button::before {
    left: 0;
    transform: translateX(-100%);
}

.button-container button::after {
    right: 0;
    transform: translateX(100%);
}

.button-container button:hover::before {
    transform: translateX(0%);
}

.button-container button:hover::after {
    transform: translateX(0%);
}
