{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>
<body>
    <header>
        <a href="#" class="logo1">IMSA SportsCar Championship</a>
        <img src="https://images.vexels.com/media/users/3/154251/isolated/preview/fef0c563c39f2746c35604e969ffe3ef-bmw-car-front-view-silhouette.png" class="pic">
        <nav>
            <ul>
                <li><a href="#">Мир IMSA &bigtriangledown;</a>
                    <ul><li><a href="#">Регламент IMSA</a>
                        <li><a href="#">Классы авто</a>
                    </ul></li>


                <li><a href="#">Спортивные события &bigtriangledown;</a>
                    <ul><li><a href="#">Таблица лидеров &bigtriangledown;</a>
                            <ul><li><a href="#">WeatherTech</a>
                                <li><a href="#">Michelin Pilot</a>
                                <li><a href="#">Prototype</a>
                            </ul></li>
                        <li><a href="#">Расписание гонок &bigtriangledown;</a>
                            <ul><li><a href="#">WeatherTech</a>
                                <li><a href="#">Michelin Pilot</a>
                                <li><a href="#">Prototype</a>
                            </ul></li>
                        <li><a href="#">Обзор трасс</a>
                        <li><a href="#">Галерея</a>
                    </ul></li>


                <li><a href="#">Новости IMSA &bigtriangledown;</a>
                    <ul><li><a href="#">Последние новости</a>
                        <li><a href="#">Интервью</a>
                        <li><a href="#">Обзор гонок</a>
                        <li><a href="#">Обзор трасс</a>
                    </ul></li>


                <li><a href="#">Участники чемпионата &bigtriangledown;</a>
                    <ul><li><a href="#">Пилоты</a></li>
                        <li><a href="#">Экипаж</a></li>
                        <li><a href="#">Партнеры IMSA</a></li>
                    </ul></li>
                </li>


                <li><a href="#">Рекорды IMSA</a></li>


                <li><a href="#">Настройки &bigtriangledown;</a>
                    <ul>
                        <li class="#"><a href="#">Авторизация/Регистрация </a></li>
                        <li><a href="#">Сообщить о сбое</a></li>
                        <ul class="submenu">
                            <li><a href="{% url 'idea' %}">Предложить идею</a></li>
                        </ul></li>
                    </ul>
            </nav>
    </header>
</body>
</html>
