{% extends "main/instruction/instruction.html" %}

{% block icon %}
<img src="https://cdn-icons-png.flaticon.com/512/902/902634.png" alt="Иконка ввода данных">
{% endblock %}

{% block title %}
<h1>Ввод данных</h1>
{% endblock %}

{% block p %}
<p>Каждый <span>раз,</span> <span>когда</span> <span>вы</span> <span>делаете</span> <span>затраты</span> <span>на</span> <span>свой</span> <span>автомобиль,</span> <span>важно</span> <span>вносить</span> <span>их</span> <span>в</span> <span>приложение.</span> <span>Это</span> <span>позволит</span> <span>вам</span> <span>не</span> <span>только</span> <span>отслеживать</span> <span>свои</span> <span>расходы,</span> <span>но</span> <span>и</span> <span>иметь</span> <span>возможность</span> <span>анализировать,</span> <span>в</span> <span>каких</span> <span>областях</span> <span>вы</span> <span>тратите</span> <span>больше</span> <span>всего,</span> <span>и</span> <span>оптимизировать</span> <span>свой</span> <span>бюджет</span> <span>для</span> <span>более</span> <span>эффективного</span> <span>управления</span> <span>финансами.</span> </p>
{% endblock %}

{% block back %}
<button class="back"><a href="{% url 'map' %}">Назад</a></button>
{% endblock %}

{% block next %}
<button class="next"><a href="{% url 'instruction' %}">Далее</a></button>
{% endblock %}
