{% extends "main/instruction/instruction.html" %}

{% block title %}
<h1>Напоминание</h1>
{% endblock %}

{% block p %}
<p><span>Вы</span> <span>можете</span> <span>установить</span> <span>напоминания</span> <span>о</span> <span>различных</span> <span>событиях,</span> <span>в</span> <span>различных</span> <span>категориях,</span> <span>таких</span> <span>как</span> <span>замена</span> <span>расходников,</span> <span>продление</span> <span>страховки</span> <span>и</span> <span>т.д.</span> <span>Эти</span> <span>напоминания</span> <span>можно</span> <span>настроить</span> <span>на</span> <span>основе</span> <span>двух</span> <span>факторов:</span> <span>пробега</span> <span>автомобиля</span> <span>или</span> <span>даты,</span> <span>в</span> <span>зависимости</span> <span>от</span> <span>того,</span> <span>как</span> <span>вам</span> <span>удобнее.</span></p>
{% endblock %}

{% block back %}<button class="back"><a href="">Назад</a></button>{% endblock %}
{% block next %}<button class="next"><a href="">Далее</a></button>{% endblock %}